.container{width: 90% !important}
/*** start nav ***/

.navbar img{width: 60%}
.navbar{background-image: linear-gradient(#ff8dc0 , transparent);height: 100px;}
.navbar a{font-weight: lighter;color: #fff !important}
.navbar a:hover{border: 1px dashed #fff;border-radius: 10px;}
.navbar li{}
.navbar .dropdown-menu{background-color: rgba(255, 123, 180, 0.7) !important;top: 122%;border: 0px;border-radius:0px }
.navbar .dropdown-menu a:hover{background: transparent}
.navbar ul{margin-right: 0% !important;float: right; margin-left: auto;}
.navbar .hm-gradient {background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);}
.navbar .darken-grey-text {color: #2E2E2E;}
.navbar .navbar .dropdown-menu a:hover {color: #616161 !important;}
.navbar .darken-grey-text {color: #2E2E2E;}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
.scrolled { background: rgba(255, 123, 180, 0.7) !important; height: 60px;}
.scrolled img{width: 50% !important}

/*** end nav ***/
/*** Start Slider ***/

.slider .carousel-inner img {width: 100%; max-height:500px;}
.slider .carousel-caption {color:#000;top:50%; bottom: auto; text-align:left;right: 0%;}
.slider .carousel-caption h1 { color:#781146;font-weight: lighter;}
.slider .carousel-caption h4{color: #aaa4a8;font-weight: lighter;}
.slider .flaticon{font-size: 50px;color: #01c8d7;}
.slider{border-bottom: 6px solid #ff8dc0}

/*** End Slider ***/
/*** Start introduction ***/

.introduction{background-image: url(../images/background-2.jpg);padding: 0% 0%}
.introduction h1{color:#636263;line-height: 70px;}
.introduction h4{color:#000;font-weight: bold;line-height: 30px;}
.introduction p{color: #7c838e;line-height: 28px;font-size: 18px;}
.introduction img{width: 100%}
.introduction .btn-success{ color: #fff; background-color: #ff7bb4;border-color: #ff7bb4;
    width: 45%;padding: 0.6rem 0rem;font-size: 25px;font-weight: lighter;border-radius:10px; }
.introduction .btn-success:hover{color: #ff7bb4;border-color: #ff7bb4;background: transparent;
    transition: all 0.3s ease;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.introduction .btn-dark{color: #fff;background-color: #00c8d8;border-color: #00c8d8;width: 45%;
    padding: 0.6rem 0rem;margin-left: 2%;font-size: 25px;font-weight: lighter;border-radius:10px;}
.introduction .btn-dark:hover{color: #00c8d8;border-color: #00c8d8;background: transparent;
    transition: all 0.3s ease;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.introduction .col-lg-6{padding:3% 0%}

/*** End introduction ***/
/*** Start img ***/

.img .title{width: 100%;text-align: center;padding: 2% 0%;}
.img h1{color: #ff7bb4}
.img img{width: 25%}

/*** End img ***/
/*** start product ***/

.product .box{border-radius:25px;border: 1px solid #ff7bb4;}
.product .title{width: 100%;background: #ff7bb4;color:#fff;border-radius: 25px 25px 0px 0px;padding: 1% 0%;}
.product .title h2{font-weight: bold}
.product .product-box{width: 100%}
.product .product-box .col-lg-3{float: left;text-align: center;width: 20%;padding: 0%}
.product .product-box .number{background: #f4f5f7}
.product .product-box h1{color: #ff7bb4;font-weight: bold;}
.product .product-box .name-product{background:#feeff6;padding: 10% 0%;}
.product .product-box .name-product p{margin-bottom: 0rem}
.product .product-box .by{background: #f1fdfd; color: #00c8d8;padding: 5%}
.product .product-box .by h4{font-weight: normal}
.product .btn-success{ color: #fff; background-color: #00c8d8;border-color: #00c8d8;
width: 70%;padding: 0.5rem 0rem;font-size: 20px;font-weight: lighter;border-radius:10px;margin-bottom: 5%}
.product .btn-success:hover{color: #00c8d8;border-color: #00c8d8;background: transparent;
transition: all 0.3s ease;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.product .rating {float:left;margin: auto;}
.product .rating:not(:checked) > input {position:absolute;top:-9999px;clip:rect(0,0,0,0);}
.product .rating:not(:checked) > label {float:right;width:1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:200%;color:#ddd;}
.product .rating:not(:checked) > label:before {content: '★ ';}
.product .rating > input:checked ~ label {color: gold;}
.product .rating:not(:checked) > label:hover,
.product .rating:not(:checked) > label:hover ~ label {color: gold;}
.product .rating > input:checked + label:hover,
.product .rating > input:checked + label:hover ~ label,
.product .rating > input:checked ~ label:hover,
.product .rating > input:checked ~ label:hover ~ label,
.product .rating > label:hover ~ input:checked ~ label {color: gold;}
.product .rating > label:active {position:relative;top:2px;left:2px;}

/*** end product ***/
/*** start research ***/

.research .title{width: 100%;color:#00c8d8;text-align: center}
.research .col-lg-4 img{width: 100%}
.research li{float: left;}
.research .right{margin-left:21%}
.research ul strong{color: #781146}
.research .col-lg-8 p{font-size:1.25rem;padding-left: 2%;line-height: 28px;}
.research .btn-success{background: transparent;color: #ff7bb4;border-color:#ff7bb4;width:100%;font-size: 1.5rem ;font-weight: bold;}
.research .btn-success:hover{background:#ff7bb4;color:#fff;transition: all 0.3s ease; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.research .btn-dark{background: transparent;color:#00c8d8;border-color: #00c8d8;width:100%;font-size: 1.5rem;font-weight: bold;}
.research .btn-dark:hover{background: #00c8d8;color: #fff;transition: all 0.3s ease; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.research .button{padding:0% 2.25%;}
.research .green .title{background: #cefcf1;color: #005944;border-radius: 5px 5px 0px 0px; padding: 1% 0px;}
.research .red .title{background: #ffe2e4;color: #b7514c;border-radius: 5px 5px 0px 0px; padding: 1% 0px;}
.research .green .flaticon{font-size: 23px;color: #005946;line-height: 1.65;}
.research .woolash h4{line-height: 1.35}
.research .woolash .col-lg-11{padding:0% 5%;}
.research .red .flaticon{font-size: 23px;color: #b7514c;line-height: 1.65;}
.research .woolash{background: #fff; border-radius: 5px;}
.research .col-lg-1 .flaticon-circle{color:#ff7bb4 }
.research{border-bottom: 1px solid #ff7bb4}
.parallax {background-image: url(../images/background-2.jpg); /* Set a specific height */ min-height: 500px;
    background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}

/*** end research ***/
/*** team ***/

.team a{text-decoration: none}
.team a span{color: #7c838e;font-size: 0.65rem}
.team .padding-lg {display: block;}
.team ul{margin:0;padding:0;list-style:none;}
.team .heading.heading-icon {display: block;}
.team .practice-area.padding-lg {padding-bottom: 55px;padding-top: 55px;}
.team .practice-area .inner{ border:1px solid #999999; text-align:center; margin-bottom:28px;padding:40px 25px;}
.team .practice-area .inner h3{ color:#3c3c3c; font-size:24px; font-weight:500;font-family: 'Poppins', sans-serif;padding: 10px 0;}
.team .practice-area .inner p{ font-size:14px; line-height:22px; font-weight:400;}
.team .practice-area .inner img{display:inline-block;}
.team .our-webcoderskull .cnt-block figure{width:148px; height:148px; border-radius:100%; display:inline-block;margin-bottom: 15px;}
.team .our-webcoderskull .cnt-block img{ width:148px; height:148px; border-radius:100%; }
.team .our-webcoderskull .cnt-block h3{ color:#2a2a2a; font-size:13px; font-weight:bold; padding: 10px 0px 0px;text-transform:uppercase;margin: 0%}
.team .our-webcoderskull .cnt-block h3 a{text-decoration:none;color:#2a2a2a;}
.team .our-webcoderskull .cnt-block h3 a:hover{color:#337ab7;}
.team .our-webcoderskull .cnt-block p{ color:#2a2a2a;font-size: 0.90rem; line-height:20px; font-weight:400;margin-bottom:2px}
.team .our-webcoderskull .cnt-block .follow-us{margin:20px 0 0;}
.team .our-webcoderskull .cnt-block .follow-us li{ display:inline-block; width:auto; margin:0 5px;}
.team .our-webcoderskull .cnt-block .follow-us li .fa{ font-size:24px; color:#767676;}
.team .our-webcoderskull .cnt-block .follow-us li .fa:hover{ color:#025a8e;}
.team .button button{background-color: #00c8d8;border-color:#00c8d8;font-size: 2.5rem;width: 47.5%;border-radius: 10px}
.team .button button:hover{color: #00c8d8;border-color: #00c8d8;background: transparent;transition: all 0.3s ease; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
.team .our-webcoderskull .cnt-block:hover { box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;transition: all 0.5s ease;border-bottom: 3px solid #ff7bb4
}
.team .our-webcoderskull .cnt-block{ float:left; width:100%; background:#fff; 
    padding:30px 20px; text-align:center;border:2px solid #d5d5d5;border-bottom: 3px solid #ff7bb4;
}
.team .row.heading h2{ color: #fff;font-size: 52.52px;line-height: 95px;font-weight: 400;
    text-align: center; margin: 0 0 40px;padding-bottom: 20px; text-transform: uppercase;
}

/*** team ***/
/*** footer ***/

.footer{background-image: url(../images/background-2.jpg);}
.footer ul{padding: 0%;margin-bottom: 3%}
.footer li{display: inline;padding: 2%}
.footer ul a{color:#ff7bb4;text-decoration: none}
.footer ul a:hover{color:#3aebf8;text-decoration: none}
.footer .flaticon{font-size: 20px}
.footer .bottom{padding: 2% 0%;color: #ff7bb4;background-image: linear-gradient(transparent , #ff8dc0);}
.footer .bottom a{font-weight:lighter;color: #ff7bb4;text-decoration: none}

/*** footer ***/

@media (max-width:768px) {
    .slider .carousel-caption h1{font-size: 3vw;}
    .slider .carousel-caption h4{font-size: 2vw;}
    .slider .carousel-caption{top:40%}
    .slider .flaticon{font-size:20px}
    .navbar{height: 50px;}
    .navbar .navbar-brand{width: 50%}
    .navbar img{width: 70%}
    .navbar #navbarSupportedContent{background-color: rgba(255, 123, 180, 0.7) !important}
    .navbar ul{float: left; padding-left: 1%}
    .img img{width: 50%}
    .img h1{font-size: 1rem}
    .product .title h2{font-size: 1rem}
    .product .product-box .col-lg-3{width: 100%}
    .research .title h2{font-size: 0.85rem}
    .research .col-lg-1{width: 15%}
    .research .col-lg-11{width: 85%}
    .research .btn-success{font-size: 1.3rem}
    .research .title h3{font-size: 1rem}
    .research .woolash h4{font-size: 0.81rem;}
    .team .button button{font-size: 0.75rem; width: 50%;}
    .introduction .btn-dark{margin-left: 8%;font-size: 18px;}
    .introduction .btn-success{font-size: 18px}
}
