    /*
    Flaticon icon font: Flaticon
    Creation date: 03/12/2018 07:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-next:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-black-circle:before { content: "\f102"; }
.flaticon-tick:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-smartphone:before { content: "\f105"; }
.flaticon-envelope:before { content: "\f106"; }
.flaticon-star:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-share:before { content: "\f10a"; }
    
    $font-Flaticon-next: "\f100";
    $font-Flaticon-back: "\f101";
    $font-Flaticon-black-circle: "\f102";
    $font-Flaticon-tick: "\f103";
    $font-Flaticon-placeholder: "\f104";
    $font-Flaticon-smartphone: "\f105";
    $font-Flaticon-envelope: "\f106";
    $font-Flaticon-star: "\f107";
    $font-Flaticon-play-button: "\f108";
    $font-Flaticon-heart: "\f109";
    $font-Flaticon-share: "\f10a";